.labelforPW{
	width: 500px;
}
.inputPW{
	width: 200px;
}
#wrappSettings{
	display: flex;
	justify-content: space-around;
	max-width: 100%;
}
#chpwButton{
	position: absolute;
	left: 210px;
	bottom: 5px;
}
#passwortChange{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;

}
#userOptions, #userDelete, #uebungCreate, #uebungDelete, #createUser{
	background-color: white;
	min-width: 400px;
	max-width: 100px;
	/*float: left;*/
	box-shadow: 10px 10px 5px #888888;
	margin: auto;
	padding: 10px;
}

    	
