.labelforPW{
	max-width: 20%;
	display: block;
}
.inputPW{
	max-width: 50%;
}
#passwortChange{
	display: flex;
	flex-direction: column;
}
#userOptions{
	background-color: white;
	height: 40%;
	/*width: 80%;
	float: left;*/
	box-shadow: 10px 10px 5px #888888;
	margin: auto;
}
#userDelete{
	background-color: white;
	height: 40%;
	width: 25%;
	float: right;
	margin-right: 23%;
	box-shadow: 10px 10px 5px #888888;
}
#uebungCreate{
	background-color: white;
	height: 40%;
	width: 25%;
	float: right;
	margin-right: 23%;
	margin-top: 3%;
	margin-bottom: 0%;
	box-shadow: 10px 10px 5px #888888;
}
#uebungDelete{
	background-color: white;
	height: 40%;
	width: 25%;
	float: left;
	margin-left: 23%;
	margin-top: 3%;
	margin-bottom: 0%;
	box-shadow: 10px 10px 5px #888888;

}
    	
