main {
    width: 80%;
    padding: 2%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0.625em 0.625em 0.313em #888888;

}

select {
    margin-top: 2%;
    height: 2.6em;
    margin-right: 2%;
    margin-bottom: 3%;
    float: left;
    clear: both;
    border-radius: 0.500em;

}

#title {
    text-align: center;
    margin-bottom: 8%;
}

#resultDiv {
    clear: both;
}

.result {
    width: 80%;
}

.leaderboardTable {
    margin: 0 auto;
    text-align: center;
    padding: 5%;
    padding-right: 10%;
    padding-bottom: 2%;
    width: 90%;
    border: 1px solid black;
    border-radius: 25px;
}

.progress-bar {
    color: black;
}

table {
    width: 100%;
    margin: 0 auto;
}

