h1{
	text-align: center;

}
hr{
	border: 1px solid #DDDDDD;
}
.input_content{
	margin-right: 10px;
}

#uebersicht{  
    max-height: 600px;
    width: 80%;
    background-color: #F5F5F5;   
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: scroll;
}
#inputtable > tbody > tr > td{
	padding-right: 10px;
}
#input_note{
	width: 100%;
}
#selectfach{
	width: 100%;
}

#input_container{
    min-height: 130px;
    width: 80%;
    background: #F5F5F5;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 200px;


}

#lapButton{
	
	float: right;
	margin-right: 30px;  
	font-size: 15px;
	font-weight: bolder;
	border-radius: 8px;
	
}

div.panel {
    background-color: #BEBEBE;
}

.fach-ausgabe, .noten-ausgabe{
  margin-right: 5px;
  background-color: grey;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.inputandsubmitbtn{
    height: 34px;
    margin-right: 10px;
    color: #333;
    background-color: #BEBEBE;
    border-color: #ccc;
}

.inputandsubmitbtn:focus,
.inputandsubmitbtn.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.inputandsubmitbtn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.inputandsubmitbtn:active,
.inputandsubmitbtn.active,
.open > .dropdown-toggle.inputandsubmitbtn {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.inputandsubmitbtn:active:hover,
.inputandsubmitbtn.active:hover,
.open > .dropdown-toggle.inputandsubmitbtn:hover,
.inputandsubmitbtn:active:focus,
.inputandsubmitbtn.active:focus,
.open > .dropdown-toggle.inputandsubmitbtn:focus,
.inputandsubmitbtn:active.focus,
.inputandsubmitbtn.active.focus,
.open > .dropdown-toggle.inputandsubmitbtn.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.inputandsubmitbtn:active,
.inputandsubmitbtn.active,
.open > .dropdown-toggle.inputandsubmitbtn {
  background-image: none;
}
.inputandsubmitbtn.disabled:hover,
.inputandsubmitbtn[disabled]:hover,
fieldset[disabled] .inputandsubmitbtn:hover,
.inputandsubmitbtn.disabled:focus,
.inputandsubmitbtn[disabled]:focus,
fieldset[disabled] .inputandsubmitbtn:focus,
.inputandsubmitbtn.disabled.focus,
.inputandsubmitbtn[disabled].focus,
fieldset[disabled] .inputandsubmitbtn.focus {
  background-color: #fff;
  border-color: #ccc;
}
.inputandsubmitbtn .badge {
  color: #fff;
  background-color: #333;
}

