h1{
	text-align: center;

}
hr{
	border: 1px solid #DDDDDD;
}
.input_content{
	margin-right: 10px;
}

#uebersicht{  
    max-height: 600px;
    width: 80%;
    background-color: #F5F5F5;   
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: scroll;
}

#input_container{
    min-height: 130px;
    width: 80%;
    background: #F5F5F5;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 200px;


}

#Eingabe{
	border: solid 5px #DDDDDD;
	border-radius: 3px;
	height: 30px;
	width: 150px;
	font-weight: bolder;
}

#Eingabe:hover{
	margin-left: 50px;
}

#lapButton{
	
	float: right;
	margin-right: 30px;  
	font-size: 15px;
	font-weight: bolder;
	border-radius: 8px;
	
}

div.panel {
    background-color: #BEBEBE;
}

