
#wrappPatterns{
	width: 80%;
	height: auto;
	background-color: #F5F5F5;
	margin: auto;
	margin-bottom: 6em;
}
h2{
	text-align: center;
}
h3{
	margin-left: 2.5%;
}
#wrappFactory, #wrappStrategy, #wrappBuilder, #wrappCommand{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.wrappCode{
	margin: auto;
	margin-top: 0;
	width: 45%;
}

.wrappCode > img {
	width: 100%;
}
/*#codeFactory2 > img, #codeFactory1 > img {
	width: 100%;
}*/
#patternNav{
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 10em;
	left: 10px;
}
.umlCursor{
	cursor: pointer;
}
.zoom{
	position: fixed;
	left: 20px;
	top: 20px;
}
.fixSize{
	width: 1000px !important;
}
hr{
	border:solid 1px #BEBEBE;
}
