main {
	width: 80%;
	margin: 0 auto;
	background-color: white;
    box-shadow: 0.625em 0.625em 0.313em #888888;

}

select {
	border-radius: 0.500em;
	height: 2.6em;
}

#title {
	text-align: center;
}

.form-control {
	font-size: 1.250em;
}

.table {
	margin-bottom: 0px;
}