#iconStyle{
	padding-left: 20%;
	color: black;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.5em;
}
.table.table-hover{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: white;
	}
#select{
	margin-left: 5%;
	border-radius: 8px;
	font-size: 20px;
}
.form-control{
	font-size: 20px;
	color: black;
} 

#header{
	position: fixed;

}
#uebungliste{
	margin-top: 7%;
}
#createUebung{
	width: 90%;
	height: 400px;
	background-color: white;
	margin: auto;
}

.overlay {
	border-radius: 0 0 .5em;
	border: 1px solid;
	padding: .5em;
	margin: .5em;
}

.overlayHidden {
	display: none;
}

.overlay {
	width: 80%;
	height: 50%;
	background: #fffbf0;
	border: 1px solid black;
	position: absolute;
	bottom: 800px;
	left: 0;
	margin: auto;
	padding: 1em;
}

#close {
	position: absolute;
	margin: 0;
	right: 0;
	top: 0;
	background: #c32e04;
	color: white;
	font: bold 0/0 sans-serif;
}

#close::before {
	content: "X";
	font: bold 1rem sans-serif;
	font-size: 20px;
}
.selectwrapper{
	display: flex;
	max-width: 500px;
}
.labelforPW{
	width: 500px;

}
.inputPW, #selectTopic{
	float: right;
}
#selectTopic{
	width: 288px;
}
#wrappCreateUebung{
	position: relative;
}
#createUebungBtn{
	position: absolute;
	top: 250px;
	right: 50%;
}