#uebersicht{
    height: 50px;
    width: 50px;
    background: red;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}
#input_container{
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}
.inputandsubmitbtn{
    height: 40px;
}