body{
    width: 100%;
    height: 100%;
}

#uebersicht{
    min-height: 600px;
    max-height: 900px;
    width: 80%;
    background-color: #F5F5F5;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#input_container{
    min-height: 300px;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.inputandsubmitbtn{
    height: 40px;
    width: 60px;
    margin-right: 10px;
}
#date_input{
    width: 200px;
}
#starttime_input{
    width: 150px;
}
#endtime_input{
    width: 150px;
}
#radio{
    display: inline;
}
#savetime{
    width: 60px;
}
