#uebersicht{
    height: 300px;
    width: 500px;
    color: white;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}
#input_container{
    height: 300px;
    float: left;
    margin-left: 5%;
    margin-top: 5%;

}
.inputandsubmitbtn{
    height: 40px;
    margin-right: 10px;
}
#date_input{
    width: 200px;
}
#starttime_input{
    width: 150px;
}
#endtime_input{
    width: 150px;
}
#radio{
    display: inline;
}
